.collapse .collapseHeader{
    position: relative;
    margin-top: 26px;
    height: 47px;
    border-radius: 5px;
    background: #FF6060;
    color: white;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.collapse .collapseHeader span {
    margin-right: 20px;
    cursor: pointer;
}
.collapse .collapseHeader h3 {
    margin: 13px 0px 13px 20px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
}
.contentShow p {
    width: 90%;
    color: #FF6060;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 142.6%;
    margin: 0;
    padding-top: 27px;
    padding-left: 18px;
}
.content{
    color: black;
    max-height: 0;
    overflow: hidden;
}
.contentShow{
    height: auto;
    max-height: 9999px;
    background: #F7F7F7;
    border-radius: 5px;
}

.contentShow ul {
    margin: 0;
    padding-top: 30px;
}
.contentShow  li {
    list-style-type: none;
    text-align: left;
    margin-top: 5px;
    width: 90%;
    color: #FF6060;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.6%;
}
